<div class="row">
    <div class="col" style="position: absolute; z-index: 1; width: 10px; height: 10px; margin-top: 7%;">
        <button mat-button>
            <span class="material-symbols-outlined">
                chevron_left
            </span>
        </button>
    </div>

    <div class="col" style="margin-left: 110px;">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col" style="margin-right: 65px;">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col" style="margin-left: 90%; position: absolute; z-index: 1; width: 10px; height: 10px; margin-top: 7%;">
        <button mat-button>
            <span class="material-symbols-outlined">
                chevron_right
            </span>
        </button>
    </div>
</div>